/* Main stylesheet */
    h1, h3{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    input, .content {
        margin-top: 5%;
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    table{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    tr{
        text-align: center;
    }
    td {
        width: 5%;
    }
    tr:nth-child(1)>td{
        width: 10%;
    }
